<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vincent Flebus</title>
</head>
<body>
    <h1>Bienvenue sur mon site Django !</h1>
    <p>Pour le moment, seul mon portfolio est présent <a href="/portfolio">ici.</a> <br/>
    D'autres projets développés avec Python et Django feront probablement leur apparition sur ce site avec le temps, alors n'hésitez pas à revenir !</p>
</body>
</html>